<% if user_signed_in? %>
	<h1><%= "当前用户为：#{current_user.name}" %></h1>
  <h1><%= link_to 'Edit', edit_user_registration_path(current_user) %></h1>
  <h1><%= link_to 'Destroy', destroy_user_session_path	, 
					      method: :delete, data: { confirm: '确定退出登陆吗?' } %></h1>
<% end  %>
